nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #4056A1;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  height: 120px;

  font-family: 'Source Sans Pro', sans-serif;
  color: #FFFFFF;
  display:flex
}

span {
  font-family: 'Bungee', sans-serif;
  font-size: 1.3em;
  flex-grow: 1;
  align-self: center;
}

.new-tweet {
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.fa-angles-down {
  position: relative;
  bottom:15px;
  color: red;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: bounce-1;
  animation-timing-function: linear;
}
    
@keyframes bounce-1 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  10% { transform: translateY(0); }
}

/*  Small Device Styles */
@media (max-width: 383px) {
  .new-tweet {
    font-size: 0.7em;
  }

  .fa-angles-down {
    bottom:5px;
  }
}

/*  Tablet Styles */
@media (min-width: 768px) and (max-width: 1024px) {
  nav {
    background-color: #e39000;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    height: 10vh;
  }
}

/*  Desk Top Styles */
@media only screen and (min-width: 1024px) {
  nav {
    height: 10vh;
  }
}
