section h2 {
  display: none
}

form {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow:1;
}

label {
  font-weight: 600;
  margin: 1.5em 0px;
}

textarea {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 3px solid #545149;
  box-sizing:border-box;
  resize: none;
  outline: none;
  font-size: 20px;
  margin-bottom: 1em;
  background: transparent;
}

.tweets {
  display: flex;
  justify-content: space-between;
  flex-grow:1;
  font-size: 15px;
  color: #545149;
  font-family: 'Bungee', sans-serif;
  margin-bottom: 2em;
}

.button-tweet{
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  padding: 0 10px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-tweet:hover {
  background-color: #fff;
}

.myClass {
  color: red;
}

.error {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  color: red;
  font-weight: bold;
  margin: 0em 0.5em;
}

#error1 {
  display: none;
  border: 1px;
  border-color: red;
  border-style: solid;
  margin: 1em 0em;
  padding: 1em;
}

#error2 {
  margin-left: 1em;
  flex-grow: 1;
  align-self: center;
}


/*  Small Device Styles */
@media (max-width: 383px) {
  .error {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    color: red;
    font-weight: bold;
    margin: 0em 0.5em;
  }
}

/*  Tablet Styles */
@media (min-width: 768px) and (max-width: 1023px) {
  nav {
    background-color: #e39000;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    height: 10vh;
  }
}


/* Desktop styles */
@media only screen and (min-width: 1024px) {
  .error {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    color: red;
    font-weight: bold;
    margin: 0em 0.5em;
  }
}
